<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route %>
      <%= @train.route.name %>
  <% else %>
      Not specified
  <% end %>
</p>

<p>
  <strong>Wagons:</strong>
  <% if @train.wagons.empty? %>
      No wagons yet
  <% else %>
    <ul>
      <li>Count of compartment wagons: <%= @train.seats_count[:comp] %>
        <ul>
          <li>Up seats: <%= @train.wagons.where('wagon_type_id': 2).sum(:up_seats) %></li>
          <li>Down seats: <%= @train.wagons.where('wagon_type_id': 2).sum(:down_seats) %></li>
        </ul>
      <li>Count of second-class wagons: <%= @train.seats_count[:second] %>
        <ul>
          <li>Up seats: <%= @train.wagons.where('wagon_type_id': 1).sum(:up_seats) %></li>
          <li>Down seats: <%= @train.wagons.where('wagon_type_id': 1).sum(:down_seats) %></li>
        </ul>
    </ul>
    <strong>Links to wagons:</strong>
    <% @train.wagons.order_from_head(@train).each do |wagon| %>
        <ul>
          <li>Wagon number: <%= link_to wagon.wagon_number, wagon %></li>
        </ul>
    <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
