<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Route:</strong>
  <% if @train.route %>
      <%= @train.route.name %>
  <% else %>
      Not specified
  <% end %>
</p>

<p>
  <strong>Wagons:</strong>
  <% if @train.wagons.empty? %>
      No wagons yet
  <% else %>
      <ul>
        <li>Count of compartment wagons: <%= @train.wagons.pluck(:wagon_type_id).delete_if {|i| i != 2}.size %>
        <li>Count of second-class wagons: <%= @train.wagons.pluck(:wagon_type_id).delete_if {|i| i != 1}.size %>
      </ul>
  <% end %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @train.seats %>
</p>
<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
