<h1>New ticket</h1>

<%= form_for @ticket, url: new_ticket_path, method: :get do |f| %>
    <p>Full name</p>
    <%= f.text_field :full_name%>
    <p>Passport</p>
    <%= f.text_field :passport %>
    <%= hidden_field_tag :train_id, params[:train_id] %>
    <br>
    <br>
    <%= f.submit "Create" %>
<% end %>