<h1>Новый билет</h1>

<%= form_for @ticket,method: :post, url: admin_tickets_path do |f| %>
    <p>Full name</p>
    <%= f.text_field :full_name %>
    <p>Passport</p>
    <%= f.text_field :passport %>
    <p>User</p>
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
    <%= f.hidden_field :train_id, value: @train_id %>
    <%= f.hidden_field :start_station_id, value: @station_first %>
    <%= f.hidden_field :end_station_id, value: @station_last %>
    <br>
    <br>
    <%= f.submit "Create" %>
    <!--Почему редиректит на метод create не в админ контроллере, а в обычном? (нужно явно указывать admin_tickets_path)-->

<% end %>