<h1><%=t :admin_cp_title%></h1>
<ul class="list-group">
  <li> <%= link_to "Railway Stations", admin_railway_stations_path, class: 'list-group-item' %> </li>
  <li> <%= link_to "Routes", admin_routes_path, class: 'list-group-item'%> </li>
  <li> <%= link_to "Tickets", admin_tickets_path, class: 'list-group-item'%> </li>
  <li> <%= link_to "Trains", admin_trains_path, class: 'list-group-item'%> </li>
  <li> <%= link_to "Wagons", admin_wagons_path, class: 'list-group-item'%> </li>
</ul>