<h1>Control Panel</h1>
<ul>
  <li> <%= link_to "Railway Stations", admin_railway_stations_path%> </li>
  <li> <%= link_to "Routes", admin_routes_path%> </li>
  <li> <%= link_to "Tickets", tickets_path%> </li>
  <li> <%= link_to "Trains", admin_trains_path%> </li>
  <li> <%= link_to "Wagons", admin_wagons_path%> </li>
</ul>