<%= form_for [@train, wagon.becomes(Wagon)] do |form| %>

    <%= render 'common/errors', resource: wagon %>

    <div class="field">
      <%= form.label :type %>
      <%= form.select :type, Wagon::WAGON_TYPES %>
    </div>

    <div class="field">
      <%= form.label :top_seats %>
      <%= form.number_field :top_seats %>
    </div>

    <div class="field">
      <%= form.label :down_seats %>
      <%= form.number_field :down_seats %>
    </div>

    <div class="field">
      <%= form.label :side_top_seats %>
      <%= form.number_field :side_top_seats %>
    </div>

    <div class="field">
      <%= form.label :side_down_seats %>
      <%= form.number_field :side_down_seats %>
    </div>

    <div class="field">
      <%= form.label :sit_seats %>
      <%= form.number_field :sit_seats %>
    </div>

    <%= form.label :train, "Выбрать поезд" %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>

    <div class="actions">
      <%= form.submit "#{ wagon.new_record? ? 'Create' : 'Edit' }" %>
    </div>
<% end %>
