<h1>New Wagon</h1>

<%= form_for [@train, @wagon] do |f| %>
    <div class="field">
      <%= f.label :number %><br>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :up_seats %><br>
      <%= f.number_field :up_seats %>
    </div>

    <div class="field">
      <%= f.label :down_seats %><br>
      <%= f.number_field :down_seats %>
    </div>

    <div class="field">
      <%= f.select :type, @wagon.get_types %><br>
    </div>

    <div class="actions">
      <%= f.submit "Create" %>
    </div>
<% end %>
