<p id="notice"><%= notice %></p>

<h1>Routes</h1>

<table>
  <thead>
  <tr>
    <th>Titles:</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
      <tr>
        <td><%= route.name %></td>
        <td><%= link_to 'Показать', route %></td>
        <td><%= link_to 'Изменить', edit_route_path(route) %></td>
        <td><%= link_to 'Удалить', route, method: :delete, data: {confirm: 'Вы уверены?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<table>
  <thead>
  <tr>
    <th>Trains</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @routes.each do |route| %>
      <% unless route.trains.empty? %>
          <% route.trains.each do |train| %>
              <tr>
                <td><%= train.number %></td>
                <td><%= link_to 'Buy tickets', new_ticket_path(train_id: train.id,
                                                               user_id: 1,
                                                               start_station_id: @station_first,
                                                               end_station_id: @station_last ) %></td>
              </tr>
          <% end %>
      <% else %>
          <tr>
            <td>No trains yet</td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый маршрут', new_route_path %>
