<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @route.name %>
</p>

<p>
  <strong>List of Stations:</strong>
  <% if @route.railway_stations.empty? %>
      No Stations yet
  <% else %>
      <%= @route.railway_stations.collect(&:title).join(',') %>
  <% end %>
</p>

<p>
  <strong>List of trains:</strong>
  <% if @route.trains.empty? %>
      No trains yet
  <% else %>
      <%= @route.trains.pluck(:number).join(',') %>
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
