<p>
  <strong>User id:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>User name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>User email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>User status:</strong>
  <% if @user.admin %>
      Admin
  <% else %>
      User
  <% end %>
</p>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>