<%= form_for [:admin ,:train, wagon.becomes(Wagon)] do |form| %>

    <% if @wagon.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@wagon.errors.count, "error") %> prohibited this wagon from being saved:</h2>

          <ul>
            <% @wagon.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :type %>
      <%= form.select :type, Wagon::WAGON_TYPES %>
    </div>

    <div class="field">
      <%= form.label :up_seats %>
      <%= form.number_field :up_seats %>
    </div>

    <div class="field">
      <%=   form.label :down_seats %>
      <%= form.number_field :down_seats %>
    </div>

    <div class="field">
      <%= form.label :side_up_seats %>
      <%= form.number_field :side_up_seats %>
    </div>

    <div class="field">
      <%= form.label :side_down_seats %>
      <%= form.number_field :side_down_seats %>
    </div>

    <div class="field">
      <%= form.label :sit_seats %>
      <%= form.number_field :sit_seats %>
    </div>

    <%= form.label :train, "Выбрать поезд" %>
    <%= form.collection_select :train_id, Train.all, :id, :number %>

    <div class="actions">
      <%= form.submit "#{ wagon.new_record? ? 'Create' : 'Edit' }" %>
    </div>
<% end %>
