<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wagon.id %>
</p>

<p>
  <strong>Train id:</strong>
  <%= @wagon.train.id %>
</p>
<p>
  <strong>Train number:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Wagon type:</strong>
  <%= @wagon.type %>
</p>

<%= render @wagon.type.underscore %>

<%= link_to 'Edit', edit_train_wagon_path(@wagon) %> |
<%= link_to 'Delete', @wagon, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', [@wagon.train] %>

